/* TEXT HELPERS */



.textFormat {
    font-weight: bold;
    font-family: monospace;    
}

/* STRUCTURE */

body {
    display: flex;
    flex-direction: column;
    background-color: grey;
    height: 100vh;
    width: 100vw;
    margin: 0%;
}

#mainTopContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    height: 50%;
    background-color: lightblue;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    font-size: 30px;
    
}

#mainBottomContainer {
    display: flex;
    flex-direction: row;
    background-color: yellow;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    height: 100%;
}

#searchContainer {
    display: flex;
    flex-direction: column;
    
    /* justify-self:flex-end; */
    /* position: absolute; */
    background-color: azure;
    top: 9vh;
    right: 1.5vw;
    height: 20px;
    width: 23vw;

}

#search {
    display: flex;
    border-width: 0.4vh;
    border-style:solid;
    background-color: lightgreen;
    width: 25vw;
    outline: none;
}

::placeholder {
    color: rgba(0, 0, 255, 0.484);
    font-family: monospace;
    font-size: 13px;
}

#searchButton {
    width: 2vw;
    border-radius: 0vh;
    border-width: 0vh;
    background-color: lightgreen;
    border-width: 3vh;
    border-color: aqua;
    
}



#rightContainer {
    background-color: rgb(0, 0, 255);
    height: 85vh;
    width: 88vw;
    display: flex;
    flex-direction: column;
}

/* ANIMATION CODE */

@keyframes navAnimation {
    0% {background-color: rgb(0, 130, 173);}
    50% {background-color: rgb(86, 193, 175)}
    100% {background-color: rgb(0, 130, 173);}
  }
  
/* ELEMENT ANIMATED */
/* "#leftContainer" */
nav {
    display: flex;
    width: 12%;
    animation-name: navAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
    background-color: red;
    text-align: center;
    
}

@keyframes navTextAnimation {
    0% {color:rgb(86, 193, 175);}
    50% {color: rgb(0, 130, 173);}
    100% {color: rgb(86, 193, 175);}
}

#navFont {
    margin-top: 1vh;
    font-size: 28px;
    font-weight: bold;
    font-family: monospace;
    animation-name: navTextAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#rightTop {    
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 47vh;
    background-color: rgba(255, 0, 0, 0.608);
    font-size: 25px;
    
}

#rightBottom {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    height: 38vh;
    background-color: aqua;
}
