body {
    display: flex;
    
    background-color: grey;
    margin: 0px;
}

header {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    height: 100px;
    text-align: center;
    
}

#totallyCenter {
    margin: auto;
    font-size: 200%;
    font-weight: bold;
    font-family: monospace;
}

/* nav {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 900px;
    max-width: 40px;
    display: flex;
    flex-direction: column;
    height: 766px;
    background-color: red;
    text-align: center;
} */

/* The animation code */
@keyframes navAnimation {
    0% {background-color: black;}
    50% {background-color: yellow;}
    100% {background-color: black;}
  }
  
  /* The element to apply the animation to */
  nav {
    width: 100px;
    animation-name: navAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-top: 8px;
    margin-left: 8px;
    

    display: flex;
    flex-direction: column;
    height: 766px;
    background-color: red;
    text-align: center;
  }

@keyframes navText {
    0% {color: yellow;}
    50% {color: black;}
    100% {color: yellow;}
}

#navFont {
    font-size: 200%;
    font-weight: bold;
    font-family: monospace;
    animation-name: navText;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

article {
    background-color: green;
    display: flex;
}